doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
    link(rel="shortcut icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
  body
    main.container
      block content
    script(src='/bundle.js')
