.branches {
  width: 100%;
}

.branches__head {
  background-color: #d6b284;
}

.branches__pointer {
  min-width: 24px;
  text-align: center;
}

.graph {
  font-family: 'Anonymus', 'Courier New', Courier, monospace;
}
