.dir {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dir__emblem-dir {
  color: rgba(0, 105, 5, 0.911);
  margin-right: 10px;
  text-decoration: none;
}

.dir__emblem-file {
  color: rgba(133, 49, 10, 0.911);
  margin-right: 10px;
  text-decoration: none;
}

.dir__item {
  margin-bottom: 2px;
}

.dir__item-link {
  color: #111;
  margin-bottom: 5px;
  text-decoration: none;
 
  &:hover {
    text-decoration: underline;
  }
}
