h1 {
  border-bottom: 2px solid;
  color: #005f6b;
  font-family: 'anonymus', 'Courier New', Courier, monospace;
  margin: 25px 0 10px;
}

body {
  font-family: 'anonymus', 'Courier New', Courier, monospace;
  font-size: 14px;
  margin: 0;
}

.container {
  margin: auto;
  width: 1040px;

  @media (max-width: 1040px) {
    padding: 15px;
    width: 100%;
  }
}

.navigation-link {
  color: rgb(26, 26, 26);
  display: block;
  margin-bottom: 5px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.navigation-link__back {
  cursor: pointer;
}
