extends ../layout

block content
  h1= title
  a(href="/").navigation-link < return to branch list
  span.navigation-link.navigation-link__back < back
  if (dirs && dirs.length > 0)
    ul.dir
      each dir in dirs
        li.dir__item
          span.dir__emblem-dir
            | DIR
          a(href=`/dir/${dir.hash}`).dir__item-link
            = dir.name
  if (files && files.length > 0)
    ul.dir
      each file in files
        li.dir__item
          span.dir__emblem-file
              | F
          a(href=`/files/${file.hash}`).dir__item-link
            = file.name
