extends ../layout

block content
  h1= title
  a(href="/").navigation-link.navigation-link_main-page < return to branch list
  span.navigation-link.navigation-link_back < back
  pre.files__inner= fileData
  